@font-face {
  font-family: "Geometria";
  src: local("Geometria-Medium"),
    url("./assets/fonts/Geometria-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Geometria";
  src: local("Geometria-Bold"),
    url("./assets/fonts/Geometria-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}
