:root {
  //ЦВЕТА
  --text-main-accented: #171717;
  --text-main: #333;
  --text-muted: #808080;
  --text-ghost: #80808015;
  --text-on-accent: #fff;

  --background-main: #f0f0f0;
  --background-card: #ffffff;
  --background-card-accented: #e0e0e0;
  --background-backdrop: #ffffff80;

  --accent-primary: #4755f5;
  --accent-secondary: #0f2e8a;
  --accent-tertiary: #cc2200;
  --accent-primary-transparent: #4755f526;
  --accent-secondary-transparent: #0f2e8a26;

  //ЛЕЙАУТ
  --spacer-l: 2rem;
  --spacer-m: 1.5rem;
  --spacer-s: 1rem;
  @include media-breakpoint-down(tabletM) {
    --spacer-l: 1rem;
    --spacer-m: 1rem;
    --spacer-s: 1rem;
  }
  @include media-breakpoint-down(mobileL) {
    --spacer-l: 1rem;
    --spacer-m: 1rem;
    --spacer-s: 0.5625rem;
  }

  //ЭФФЕКТЫ
  --backdrop: blur(20px) saturate(200%);
  --border: 1px solid var(--background-main);
  --border-radius: 0.625rem;

  //ТИПОГРАФИКА
  --font-family: "Geometria", sans-serif;
  --fz-title: 3.75rem;
  --fz-tagline: 2.5rem;
  --fz-headline: 1.875rem;
  --fz-subhead: 1.375rem;
  --fz-lead: 1rem;
  --fz-body: 1rem;
  --fz-caption: 0.875rem;
  --fz-small: 0.75rem;

  //АНИМАЦИИ
  --ease: cubic-bezier(0.42, 0, 0.58, 1);

  --ease-back: cubic-bezier(0.5, 8.5, 0.64, 1);
  --ease-back-easy: cubic-bezier(0.5, 2.5, 0.64, 1);
}
