@import "toptier";
@import "reset";
@import "fonts";
@import "utilities";

//ТЭГИ
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-main);
  color: var(--text-main);
  font-size: var(--fz-body);
  line-height: 1.29;
  font-weight: 500;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
h2 {
  @include text-tagline();
  margin-bottom: var(--spacer-l);
  @include media-breakpoint-down(mobileL) {
    @include text-headline();
  }
}
.v-lazy-image {
  filter: blur(1px);
  opacity: .62;
  transition: opacity .15s var(--ease), transform .3s var(--ease), filter 0.3s var(--ease);
}
.v-lazy-image-loaded {
  filter: blur(0);
  opacity: 1;
}